<footer class="panel-footer">
        <div class="container">
            <div class="row">
                <section id="hours" class="col-sm-4">
                    <span>Hours: </span><br>
                    Mon-Fri: 10:30am - 10:00pm <br>
                    Saturday: 10:30am - 6:00pm <br>
                    Sunday Closed
                    <hr class="visible-xs">
                </section>
                <section id="address" class="col-sm-4">
                    <span>Address:</span><br>
                    Mannerheimintie 20, <br>
                    00100 Helsinki <br>
                    <a target="_blank" href="www.tomboja.com">www.boja-picnic.fi</a><br>
                    041 3100 978 <br>
                    <p>Delivery area is whole Helsinki, Espoo and Vantaa areas. We charge €2 for less than 2km delivery and €1/km above 2km of delivery</p>
                    <hr class="visible-xs">
                </section>
                <section class="col-md-4 col-sm-12 col-xs 12">
                    <span id="map"><h3> Office Address: </h3></span><br>
                    <a href="https://goo.gl/maps/755WnA8trEL2" target="_blank">
                      <div id="map-tile">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7938.783720193539!2d24.92932766675951!3d60.16921253414384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5e0458225efa74e0!2sPicnic+Forum!5e0!3m2!1sen!2sfi!4v1483036359617" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                         
                      </div>
                    </a>
                </section>
            </div>
            <div class="text-center">
            <hr>
            &copy; Copyright Red Omena Restaurante, 2016</div>
        </div>
    </footer>
